<div class="modal fade" id="deleteSensorModal_{{ sensor.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удаление датчика</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить датчик ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="delete_sensor('{{ sensor.id }}')" data-bs-dismiss="modal">Да</button>
        <button type="button" class="btn btn-secondary">Нет</button>
      </div>
    </div>
  </div>
</div>