<div class="container-fluid">
<button class="btn btn-primary" id="get_pdf_report">Загрузить отчет PDF</button>
<button class="btn btn-primary" id="get_csv_report">Загрузить отчет CSV</button>
    <div class="row">
        <table id="sensor_values_table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Название датчика</th>
                <th scope="col">Температура</th>
                <th scope="col">Влажность</th>
                <th scope="col">Дата и время</th>
            </tr>
            </thead>
            <tbody>
            {% for data in indications %}
                <tr id="sensor_values_row_{{ data.id }}">
                    <td>{{ data.Sensor.Name }}</td>
                    <td {% if data.Temperature > limits.UpperTemperatureLimit or data.Temperature < limits.LowerTemperatureLimit %}class="table-danger"{% endif %}>{{ data.Temperature }}</td>
                    <td {% if data.Humidity > limits.UpperHumidityLimit or data.Humidity < limits.LowerHumidityLimit %}class="table-danger"{% endif %}>{{ data.Humidity }}</td>
                    <td>{{ data.Receiving_data_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>