{% load static %}

<div class="container-fluid">
    <link rel="stylesheet" href="{% static "prettyprint/prettyprint.css" %}">
    <!--D3 Context Menu CSS-->
    <link rel="stylesheet" href="{% static "d3-context-menu/d3-context-menu.css" %}">
    <!--Pretty Print JS-->
    <script type="text/javascript" src="{% static "prettyprint/prettyprint.js" %}"></script>
    <!--D3.JS-->
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <!--D3.V4.MICROLIBRARIES-->
    <script type="text/javascript" src="{% static "d3-context-menu/d3-context-menu.js" %}"></script>
    <script type="text/javascript" src="{% static "d3-polygon/d3-polygon.js" %}"></script>
    <!-- D3.V4.FLOORPLAN -->
    <script type="application/javascript" src="{% static "dist/d3.v4.floorplan.js" %}"></script>
    <link rel="stylesheet" href="{% static "dist/d3.v4.floorplan.css" %}">
    <!--Uncomment for debugging-->
    <script type="text/javascript" src="{% static "src/floorplan.js" %}"></script>


    <h2> Floor Map </h2>
    <button class="btn btn-primary" id='poly'>Создать зону</button>
    <button class="btn btn-primary" id='sensor'>Разместить датчик</button>
    <button class="btn btn-primary" id='deletePoly'>Сохранить зоны</button>

    <div class="custom-file" style="margin-top: 10px;">
        <form method="post" action="set_image" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="floor_pictures">
            <button class="btn btn-primary" type="submit">Загрузить план</button>
        </form>
    </div>


    <br/>
    <div>
        <svg width="960" height="500"></svg>
    </div>
    <button class="btn btn-primary" style="margin-top: 10px;" id='updateMapData'>Сохранить</button>
    <pre><code id=mapdata></code></pre>
    {% csrf_token %}
    <script type="text/javascript" src="{% static "map.js" %}"></script>

</div>