<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSensorModal">
                Добавить датчик
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Выбрать
                оптимальные
                показатели
            </button>

            {% include 'modal_manual.html' %}
        </div>
        <div class="col">
            3 из 3
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя датчика</th>
                <th scope="col">Ключ API</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>фыв</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>the Bird</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>